* {
margin: 0;
padding: 0;
}
/*header changes start here*/
header {
    background-color: rgb(183, 157, 126);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    border: 0;
    font-family: "Freckle Face", "SUSE Mono";
    margin: 0;
}

.head-info {
    text-align: center;

}

nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(107, 99, 63);
    border-radius: 10px;
    padding: 10px 80px;
    margin: 10px 5px;
    gap: 45px;
    font-size: 28px;


}

a {
    background-color: rgb(151, 134, 81);
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;

}

nav a:hover {
    font-size: 35px;
    color: rgb(247, 210, 191);
    background-color: rgb(146, 125, 64) rgb(151, 134, 81);
    cursor: url(Images/Rock-icon.png), auto;
    background-color: rgb(155, 132, 100);
    transition: background-color 0.5s ease, color 0.5s ease, font-size .5s ease;

}

.active {

    color: rgb(191, 247, 227);
    background-color: rgb(202, 162, 107);
    font-size: 35px;
}

.active:hover {
    color: rgb(247, 210, 191);
    background-color: rgb(155, 132, 100);
    font-size: 38px;
}

header p {
    margin: 0;
    padding: 0;

    color: rgb(193, 187, 164)
}

header h1 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: rgb(118, 63, 11);
    font-size: 50px;
}

header a {
    color: rgb(205, 205, 205);
    text-decoration: none;
    font-weight: 500;
}

/*main tab changes start here*/

/* YOU NEED TO ADD THE "L" BACK TO URL FOR BG IMAGE!!!!!"*/

main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/rock-BG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "SUSE Mono";
}

main h1 {
    margin: 0px;
    color: rgb(240, 201, 122);

}

.title {
    color: rgb(243, 212, 155);
}

main p {
    margin: 10px;
    color: rgb(166, 224, 239)
}

.eyes3 {
    float: right;
    margin: 15px;
    border-radius: 10px;
    height: 120px;
    width: auto;
}

.eyes3:hover {
    height: 130px;
    transition: height .5s ease;
}

.eyes {
    float: right;
    margin: 15px;
    border-radius: 5px;
    height: 150px;
    width: auto;
}

.eyes:hover {
    transition: height .5s ease, width .5s ease;
    height: 160px;
}

.sticker {
    float: right;
    margin: 15px;
    border-radius: 60px;
    height: 200px;
}

.sticker:hover {
    transition: height .5s ease;
    height: 230px;
}

.fine {
    font-size: 10px;
    font-family: "Tinos";
}

main h2 {
    margin: 10px;
    color: rgb(230, 210, 210);
    font: "SUSE Mono";
}

main h3 {
    margin: 10px;
    color: chocolate
}

main ul li {
    margin: 10px;
    color: aliceblue
}

main dl {
    margin: 10px;
    color: rgb(203, 226, 248)
}

main ol {
    margin: 10px;
    color: rgb(215, 243, 230);
}

table,
th,
td {
    border: 5px solid rgb(65, 57, 30);
    border-collapse: collapse;
    background-color: rgb(244, 179, 110);
    padding: 10px;
    margin: 10px;
}

.orders {
    background-color: rgb(128, 117, 102, 0.5);
    color: rgb(212, 156, 72);
    border-radius: 10px;
}

.ad {
    color: rgb(118, 94, 59);
}

/*footer changes start here*/

footer {
    text-align: center;
    letter-spacing: 4px;
    background-color: rgba(95, 70, 35, 0.5);
    margin: 0px
}
